# Database
DATABASE_URL="postgresql://user:password@localhost:5432/folioai"

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWJvdmUtbXVza294LTY3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_ZskN1tAfW95ZimaHs7X6uUDwqfwSoHAtVZJMpkR3bd

# OpenAI API
OPENAI_API_KEY=sk-proj-your-api-key-here
# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=devybscyg
CLOUDINARY_API_KEY=656882954375849
CLOUDINARY_API_SECRET=QRbnk3LtGynTBWOpzvZ22qs7NxI

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3001
